.manage-headline {
    text-align: center;
    font-family: cursive;
    color: coral;
}

.delete-button {
    border: none;
    background-color: rgb(185, 69, 49);
    color: white;
    border-radius: 00.25rem;

}

.main-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* .add-style {
    border: 1px solid goldenrod;

    padding: 0.5rem;
    border-radius: 0.25;
    background-color: gainsboro;
    color: white;

} */